.main-about {
    max-width: 1240px;
    margin: auto;
    padding: 0 20px;   
}

.banner {
    display: flex;
    align-items: center;
    margin: 25px auto;
    justify-content: center;
  }
  
  .banner img {
    width: 100%;
    position: relative;
    height: 223px;
    max-width: 1240px;
    margin-bottom: 5px;
    -o-object-fit: cover;
      object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
    }

.collapse-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
  }
  .collapse-header {  
      height: 52px;
  }

  .collapse-about {
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px; 
    }
    
  .content {
    margin-bottom: 10px;
    width: 100%;
    }

@media screen and (max-width: 768px) {
  
  .banner {
    margin-top: 10px;
    margin-bottom: 30px;
  }

    .banner img {
      height: 111px;
      border-radius: 10px;
    }

  .collapse-group {
    margin-bottom: -1px;
    margin-top: -8px;
    gap: 0px;
  }

    .collapse-about {
      width: 100%;
      margin-bottom: 27px;
    }

    .collapse-header {
      height: 30px;
      border-radius: 5px;
    }
}