@import "variables";

//Pour la compatibilité avec les navigateurs, on utilise les propriété préfixées.
.collapse {
    -ms-transition: transform all 0.4s ease-in-out;
    -webkit-transition: transform all 0.4s ease-in-out;
    -moz-transition: transform all 0.4s ease-in-out;
    -o-transition: transform all 0.4s ease-in-out;
    transition: transform all 0.4s ease-in-out;
    overflow: hidden;
}
    
.collapse-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $color-red;
    border-radius: 7.5px;

    &-title {
        font-size: 24px;
        font-weight: 700;
        color: $color-white;
        padding-left: 14px;
    }

    &-image1 {
        padding-right: 20px;    
    }

    &-image2 {
        padding-right: 20px;    
    }

    &-image1 img {
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out;
    }

    &-image2 img{
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
    }
}
.collapse-content {
    display: block;
    flex-direction: column;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F6F6F673 ;
    border-radius: 5px;
    animation: slide 0.2s ease-out;      
}
// keyframe définit le point de départ et d'arrivée de l'animation. Ici "from" suffit.
// "top" indique le point de départ de l'animation (chevron des collapses) 
@keyframes slide {
    from {
        transform: scaleY(0.7);
        transform-origin: top;
    }   
}

.collapse-content ul {
    margin-left: -40px;
}
        
ul {
    list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .collapse-header-title {
        font-size: 18px;
   }

   .collapse-header-image1 img {
        width: 21px;
    }

    .collapse-header-image2 img {
        width: 21px;
    }
}

@media screen and (max-width: 768px) {
    .collapse-header-title {
        font-size: 13px;
    }

    .collapse-header-image1 img {
        width: 16px;
    }

    .collapse-header-image2 img {
        width: 16px;
    }

    .collapse-content {
        font-size: 12px;
    }
}
    
