.slideshow {
    position: relative;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    overflow: hidden;

    &_container {
        display: flex;
        transition: transform 0.2s;
    
        &_img {
            flex-shrink: 0;
            width: 100%;
            height: 415px;
             max-width: 1240px;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    &_controls {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        top: 32%;
        cursor: pointer;

        &_chevron {
            margin: 23px;
            width: 46px;
            height: 79px;
        }    
    }
    &_idx {
        font-size: 18px;
        justify-content: flex-end;
        height: 32px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 85%;
        left: 49%;
        color: #FFFFFF;
    }

}

@media screen and (max-width: 768px) {
    .slideshow_container_img {
        height: 255px;
    }

    .slideshow_controls {
        top: 42%;
    }

    .slideshow_controls_chevron {
        height: 24px;
        width: auto;
        margin: 10px;
    }

    .slideshow_controls_chevron img {
        height:  24px;
        padding: 0px;
        margin: 0px;
    }

    .slideshow_idx {
        display: none;
    }
   
}