@import "variables";

.slideshow {
    position: relative;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    overflow: hidden;

    &-container {
        display: flex;
        transition: transform 0.2s;
    
        &-img {
            flex-shrink: 0;
            width: 100%;
            height: 415px;
            max-width: 1240px;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    &-controls {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        top: 32%;
        cursor: pointer;

        &-chevron {
            margin: 23px;
            width: 46px;
            height: 79px;
        }    
    }

    &-idx {
        font-size: 18px;
        justify-content: flex-end;
        height: 32px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 85%;
        left: 49%;
        color: $color-white;
    }
}

@media screen and (max-width: 768px) {
    
    .slideshow { 
    
        &-container-img {
            height: 255px;
            border-radius: 10px;
        }

        &-controls {
            top: 42%;

            &-chevron {
                height: 24px;
                width: auto;
                margin: 10px;
            }

            &-chevron img {
                height:  24px;
                padding: 0px;
                margin: 0px;
            }
        }

        &-idx {
            display: none;
        }
    }
}