@import "variables";

.main-home {
    max-width: 1240px;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 25px;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    & img {
        width: 100%;
        position: relative;
        height: 223px;
        max-width: 1240px;
        object-fit: cover;
        border-radius: 25px;
        
    }

    &-title {
        font-size: 48px;
        z-index: 1;
        position: absolute;
        padding: 20px;
        margin: 0px 20px;   
        color: $color-white;
        text-shadow:0 0 2px $color-black;   
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .banner-title {
        font-size: 24px;
    }

    .banner-img {
        max-height: 111px;
        border-radius: 10px;
    }
}