.logement-page {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 20px 0 20px;
  font-family: "Montserrat", sans-serif;
}

.logement-page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30Px;
  font-style: normal;
}

.logement-page-header-infos {
  display: flex;
  flex-direction: column;
}

.logement-page-header-infos-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: 36px;
  color: #FF6060;
}

.logement-page-header-infos-subtitle {
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logement-page-header-infos-tags {
  display: flex;
  flex-wrap: wrap;
}

.logement-page-header-infos-tags-tag {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  padding: 0px 30px;
  margin: 10px 15px 0px 0px;
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 9px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.logement-page-header-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logement-page-header-host-infos {
  display: flex;
  flex-direction: row;
  height: 64px;
  align-items: center;
}

.logement-page-header-host-infos-name {
  width: 93px;
  height: 52px;
  font-size: 18px;
  color: #FF6060;
  text-align: right;
  margin: auto 10px auto 0px;
  line-height: 27px;
}

.logement-page-header-host-infos-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding-right: 5px;
}

.logement-page-collapses {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
}

.logement-page-collapses-content {
  width: 46%;
  list-style: none;
  border-radius: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logement-page-header {
    flex-direction: column;
  }
  .logement-page-header-host {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
  }
  .rating-star {
    text-align: left;
    width: 200px;
  }
  .logement-page-collapses {
    flex-direction: column;
    gap: 40px;
  }
  .logement-page-collapses-content {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .logement-page-header {
    flex-direction: column;
    margin-top: 15px;
  }
  .logement-page-header-host {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
  }
  .rating-star {
    text-align: left;
    width: 200px;
  }
  .logement-page-collapses {
    flex-direction: column;
    gap: 40px;
    padding-top: 13px;
    padding-bottom: 30px;
    gap: 31px;
  }
  .logement-page-collapses-content {
    width: 100%;
  }
  .logement-page-header-infos-title {
    font-size: 18px;
  }
  .logement-page-header-infos-subtitle {
    font-size: 14px;
  }
  .logement-page-header-infos-tags-tag {
    width: auto;
    height: 18px;
    font-size: 10px;
    border-radius: 5px;
  }
  .logement_page_header_host_infos_name {
    width: 60px;
    height: 33px;
    font-size: 12px;
    line-height: 18px;
  }
  .logement-page-header-host-infos-img {
    width: 32px;
    height: 32px;
  }
}/*# sourceMappingURL=Logement.css.map */